
    /* border: 1px solid red; */

.card-about-us{

    margin-top: 30px;
    padding: 30px;
    text-align: justify-content;
    -webkit-box-shadow: 11px 11px 16px -8px rgba(0,0,0,0.52);
    -moz-box-shadow: 11px 11px 16px -8px rgba(0,0,0,0.52);
    box-shadow: 11px 11px 16px -8px rgba(0,0,0,0.52);
    
}

.card-about-us div{
    text-align: justify-content;
    padding: 0 10px 0 10px;

}
.card-about-us h1{
    font-weight: bold;
}

.footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.footer footer{

}
.footer footer p{
    padding: 0;
    margin: 0;
}