{% extends 'jobs/layout.html' %}

{%block body%}
<div class="card card-about-us container">

    <div>
        <h1>Sobre Nós</h1>
        <p>
            Bem-vindo(a) à nossa plataforma <strong>Jobs Gestão de Vagas de Emprego</strong>!
            <br>
            <br>
            Nosso objetivo é conectar empresas e candidatos de forma prática e eficiente, facilitando a busca por
            oportunidades e talentos no mercado de trabalho.
            <br>
            Aqui, acreditamos que encontrar o emprego ideal ou o
            profissional certo não precisa ser complicado – e é por isso que criamos um espaço onde essa interação
            acontece
            de maneira simples, moderna e acessível.
        </p>
    </div>

    <hr>

    <div>
        <h1>Como funciona?</h1>
        <ul>
            <li>
                <strong>Acesso Livre às Vagas:</strong>
                <p>
                    Você pode navegar e visualizar todas as vagas disponíveis e os contatos da empresa sem a necessidade
                    de
                    cadastro. <br>Explore as oportunidades, filtre por localização ou tipo de contrato e fique por
                    dentro
                    das melhores opções no mercado.
                </p>
            </li>
            <li>
                <strong>Cadastro Simplificado para Recursos Extras</strong>
                <p>
                    Criar uma conta gratuita em nossa plataforma desbloqueia uma série de funcionalidades personalizadas
                </p>
                <ul>
                    <li>
                        <strong>Candidatos:</strong>
                        Salve vagas de interesse.
                    </li>
                    <li>
                        <strong>Empresas:</strong>
                        Cadastre e gerencie suas vagas com facilidade, conectando-se diretamente aos melhores
                        profissionais.
                    </li>
                </ul>
            </li>
        </ul>
    </div>


    <hr>
    <div>

        <h1>Por Que Escolher Nossa Plataforma?</h1>

        <ul>
            <li>
                <strong>Simples e Eficiente: </strong>
                A navegação intuitiva e a filtragem avançada garantem que você encontre o que procura rapidamente.
            </li>
            <li>
                <strong>Sem Barreiras:</strong>
                Você pode explorar o conteúdo livremente antes de se cadastrar.
            </li>
            <li>
                <strong>Personalização:</strong>
                Com uma conta, o sistema se adapta às suas necessidades, seja você um candidato em busca de
                oportunidades ou
                uma empresa em busca de talentos.
            </li>
            <li>
                <strong>Atualizações Constantes:</strong>
                Estamos sempre trabalhando para oferecer a melhor experiência com novas funcionalidades e melhorias.
            </li>
        </ul>
    </div>

    <hr>
    <div>

        <h1>Nosso Compromisso</h1>
        <p>
            Queremos que você encontre <strong>confiança, oportunidades reais</strong>, e uma plataforma que entende
            suas necessidades. Seja
            explorando vagas ou conectando-se com talentos, estamos aqui para facilitar sua jornada no mercado de
            trabalho.
            <br>
            Cadastre-se agora mesmo e desbloqueie o melhor da nossa plataforma! 🚀
        </p>
    </div>



</div>
<div class="footer">
    <footer>
        <p class="text-muted">
            Developed by Douglas Barbosa
        </p>
        <p class="text-muted">
            "Learning and Developing"
        </p>
    </footer>
</div>
{% endblock %}