{% extends 'jobs/layout.html' %}


{% block title%} Editar Trabalhador {% endblock %}

{% block body %}
<div class="div-profiles ">

    <form action="{% url 'jobs:edit_profile_candidate' candidate.id %}" method="POST">

        {% csrf_token %}

        <h2>Editar Perfil </h2>

        <div class="">

            <div class="row">
                <div class="profile-item col-md-6">
                    <label for="first_name">Nome:</label>
                    <input type="text" id="first_name" value="{{candidate.user.first_name|capfirst}}" readonly>
                </div>

                <div class="profile-item col-md-6">
                    <label for="last_name">Sobrenome:</label>
                    <input type="text" id="last_name" value="{{candidate.user.last_name|capfirst}}" readonly>
                </div>

            </div>

            <div class="div-profile-item-alert row">
                <h6 class="alert alert-info profile-item-alert text-muted  ">Para alterar a localização, primeiro
                    escolha o país.</h6>
            </div>

            <div class=" row">
                <div class="profile-item col-md-4 ">
                    <label for="country">País:</label>
                    <select name="country" class="select-country" id="country" required>
                        <option value="{{ candidate.country }}" selected>{{ candidate_country_name }}</option>
                    </select>
                </div>

                <div class="profile-item col-md-4">
                    <label for="{{ form.state.id_for_label }}">Estado:</label>
                    <select name="state" class="select-state" id="state" required>
                        <option value="{{candidate.state}}" selected>{{ candidate_state_name }}</option>
                    </select>
                </div>
                <div class="profile-item col-md-4">
                    <label for="{{ form.country.id_for_label }}">Cidade:</label>
                    <select name="city" class="select-city" id="city" required>
                        <option value=" {{ candidate.city }}" selected>{{ candidate.city }}</option>
                    </select>
                </div>
            </div>

            <div class="contact form-information row">

                <div class="col-md-4">
                    <label for="{{ form.phone1.id_for_label }}">Telefone 1:</label>

                    {{ form.phone1 }}

                    {% if not form.phone1.value %}
                    <div class=" add-phone d-flex flex-row">


                        <input type="checkbox" name="add-phone1" id="add-phone1" value="" >


                        <label for="add-phone1">Adicionar</label>


                    </div>
                    {% endif %}

                </div>

                <div class="col-md-4 form-contact-phone" id="">
                    <label for="{{ form.phone2.id_for_label }}">Telefone 2:</label>

                    {{ form.phone2 }}

                    {% if not form.phone2.value %}

                    <div class=" add-phone d-flex flex-row">


                        <input type="checkbox" name="add-phone2" id="add-phone2" value="">



                        <label for="add-phone2">Adicionar</label>


                    </div>
                    {% endif %}

                </div>
                <div class="col-md-12">
                    <label for="{{ form.email.id_for_label }}">Email:</label>

                    {{ form.email }}

                </div>

            </div>



            <div class="row">

                <div class="profile-item">
                    <label for="{{ form.personal_sumary.id_for_label }}">Resumo Pessoal:</label>

                    {{ form.personal_sumary }}

                </div>

            </div>

            <div class="row">

                <div class="profile-item">
                    <label for="{{ form.professional_sumary.id_for_label }}">Resumo Professional:</label>

                    {{ form.professional_sumary }}

                </div>
            </div>

        </div>

        <div class="div-button-edit-profile profile-item row ">

            <div class="col-md-6">
                <a href="javascript:history.back()">
                    <input type="text" class="btn btn-outline-primary btn-back" value="Voltar">
                </a>
            </div>
            <div class="col-md-6">
                <a href="">

                    <input type="submit" class="btn btn-outline-success" value="Salvar">
                </a>

            </div>
        </div>
    </form>
</div>

{% endblock %}