{% extends 'jobs/layout.html' %}

{%block title%} Editar Vaga {% endblock %}

{% block body%}



<div class="register_vacancy container">

    <form action="{% url 'jobs:edit_vacancy' vacancy.id %}" method="POST">

        {% csrf_token %}

        <h2>Editar Vaga </h2>

        <div class=" container">

            <div class=" form-information row">

                <div class="col-md-12">
                    <label for="company_name">Titulo da Vaga:</label>
                    {{ form.title }}
                </div>



            </div>

            <div class=" form-information row">

                <div class="col-md-8">
                    <label for="company_name">Nome da Empresa:</label>
                    <select name="company" id="company" required>
                        <option value="{{ vacancy.company_id }}" selected>{{ vacancy.company }}</option>

                        {% for company in request.user.companies.all %}

                        {% if vacancy.company != company %}
                        <option value="{{ company.id }}">{{ company }}</option>
                        {% endif %}

                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="{{ form.contract_type.id_for_label }}">Tipo de contrato:</label>

                    {{ form.contract_type }}

                </div>
                <div class="col-md-6">
                    <a href="{% url 'jobs:register_company' %}"><input type="button" class="btn btn-outline-success" value="Cadastar Empresa" ></a>
                </div>

            </div>
            <div class="div-show-company  row">

                
                <span class="col-md-6">Mostrar empresa na vaga?</span> 
            
            
                <span class="">{{ form.show_company}}</span>

        </div>
            <div class="form-location row">

                <div class="col-md-4">
                    <label for="country">País da vaga:</label>
                    <select name="country" class="select-country" id="country" required>
                        <option value="{{ vacancy.country}}" selected>{{ vacancy_country_name}}</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="{{ form.state.id_for_label }}">Estado da vaga:</label>
                    <select name="state" class="select-state" id="state" required>
                        <option value="{{ vacancy.country }}" selected>{{ vacancy_state_name }}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="{{ form.country.id_for_label }}">Cidade da vaga:</label>
                    <select name="city" class="select-city" id="city" required>
                        <option value="{{ vacancy.city }}" selected>{{ vacancy.city }}</option>
                    </select>
                </div>
            </div>


            <div class="contact form-information row">

                <div class="col-md-4">
                    <label for="{{ form.contract_type.id_for_label }}">Telefone 1:</label>
                    {{ form.phone1 }}

                    {% if not form.phone1.value %}
                    <div class=" add-phone d-flex flex-row">


                        <input type="checkbox" name="add-phone1" id="add-phone1" value="">


                        <label for="add-phone1">Adicionar</label>


                    </div>
                    {% endif %}

                </div>

                <div class="col-md-4 form-contact-phone"" id="">
                    <label for="{{ form.contract_type.id_for_label }}">Telefone 2:</label>

                    {{ form.phone2 }}

                    {% if not form.phone2.value %}

                    <div class=" add-phone d-flex flex-row">


                        <input type="checkbox" name="add-phone2" id="add-phone2" value="">



                        <label for="add-phone2">Adicionar</label>


                    </div>
                    {% endif %}

                </div>
                <div class="col-md-12">
                    <label for="{{ form.contract_type.id_for_label }}">Email:</label>

                    {{ form.email }}

                </div>

            </div>

            <div class="descript-vacation form-information row">

                <div class="col-md-12">
                    <label for="{{ form.personal_sumary.id_for_label }}">Descrição da Vaga:</label>

                    {{ form.descript }}

                </div>

            </div>




        </div>

        <div class="row form-information form-information-button">

            <div class="col-md-4">
                <a href="javascript:history.back()">
                    <input type="button" class="btn btn-outline-primary btn-back" value="Voltar">
                </a>
            </div>
            <div class="col-md-4">
                <input type="submit" class="btn btn-outline-success" value="Salvar">
            </div>
        </div>
    </form>



</div>


{% endblock %}