{% extends "jobs/layout.html" %}

{%block title%}Jobs{%endblock%}

{%block body%}


<div class="div-options-loggedIn" hidden>
    <ul class="options-loggedIn">
        <a href="">
            <li class="options-loggedIn-item">Vagas <br>Compátiveis</li>
        </a>
        <a href="">
            <li class="options-loggedIn-item">Vagas <br>Salvas</li>
        </a>
        <a href="">
            <li class="options-loggedIn-item">Cadastrar <br>Curriculo</li>
        </a>
        <a href="">
            <li class="options-loggedIn-item">Gerador de <br>Curriculo</li>
        </a>
        <a href="">
            <li class="options-loggedIn-item">Cursos e <br>Certificações</li>
        </a>
        <a href="">
            <li class="options-loggedIn-item">Blog</li>
        </a>
    </ul>
</div>

<div class="div-form-search container">

    <form action="{% url 'jobs:index' %}" method="POST" class="row">
        {% csrf_token %}

        <div class="form-search-item col-md-4">
            <label for="country">País:</label>
            <select name="country" class="select-country" id="country">
                <option value="">Selecione um país</option>
            </select>
        </div>

        <div class="form-search-item col-md-4">
            <label for="{{ form.state.id_for_label }}">Estado:</label>
            <select name="state" class="select-state" id="state">
                <option value="" selected>Aguardando País</option>
            </select>
        </div>
        <div class="form-search-item col-md-4">
            <label for="{{ form.country.id_for_label }}">Cidade:</label>
            <select name="city" class="select-city" id="city">
                <option value="" selected>Aguardando País</option>
            </select>
        </div>

        <div class="form-search-item col-md-4">
            <label for="position">Cargo</label>
            <input type="text" name="position" id="position">
        </div>

        <div class="form-search-item col-md-4">
            <label for="contract-type">Tipo de Contrato</label>
            <select type="text" name="contract-type" id="contract-type">

                <option value="">------------</option>
                <option value="clt">CLT</option>
                <option value="freelance">Freelance</option>
                <option value="temporario">Temporário</option>
            </select>
        </div>

        <div class="form-search-item  col-md-4">
            <button class="btn btn-outline-success ">Buscar</button>
        </div>
    </form>
</div>

<div class="vacancy-list container">
    <table class="">
        <thead>
            <tr>
                <th class="vacancy-list-name" colspan="1">Últimas vagas publicadas</th>
                <th colspan="3">Total de vagas: {{ vacancies_count }}</th>
            </tr>

        </thead>

        <tbody>

            {% if button_view_vacancies %}
            <tr class="tr-button-view-all-vacancy">
                <td class="button-view-all-vacancy" colspan="3">

                    <a href="{% url 'jobs:index' %}">
                        <input type="button" class="btn btn-outline-primary" value="Ver todas as vagas">
                    </a>
                </td>

            </tr>
            {%endif%}

            {% for date, vancancies in vacancies_grouped_by_date.items %}

            <tr class="date-vacancy">
                <td class="" colspan="3">
                    Data da Publicação: {{ date.day }}/{{ date.month }}/{{ date.year }}
                </td>
            </tr>

       
            {% for vacancy in vancancies %}

            <tr class="vacancy-list-tr-description ">

                <td class="vacancy-title">
                    {%if vacancy.is_active == True %}

                    <a href="{% url 'jobs:view_vacancy' vacancy.id%}">

                        {{ vacancy.title|capfirst}}
                    </a>

                    {%else%}
                    

                        {{ vacancy.title|capfirst}} [Encerrada]

                    
                    {% endif%}
                </td>
                
                <td class="vacancy-list-location">{{ vacancy.country }} / <br> {{ vacancy.state }} / {{ vacancy.city }}
                </td>
                <td class="vacancy-list-type"> {{ vacancy.contract_type|capfirst}}</td>

            </tr>


            {% endfor %}

            <tr class="div-ads-video">
                <td>

                    <div class="video-ad">

                    </div>

                </td>
            </tr>

            {% empty %}

            <tr class=" .alert-vacancy vacancy-list-tr">

                <td class="message message-no-vacancy alert alert-info" colspan="3">
                    <div class="div-messages-no-vacancies">

                        <div>
                    Não há vagas para:

                            {% for chave, valor in return_search.items %}
                            <div><strong>{{ chave|capfirst }}</strong>: {{ valor|upper }}</div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </td>

            </tr>


            {% endfor %}



        </tbody>
    </table>

</div>

{%endblock%}