{% extends "jobs/layout.html" %}

{%block title%}Minhas Vagas{%endblock%}

{%block body%}


<div class="vacancy-list container">
    <table class="">
        <thead>
            <tr class="tr-button-view-all-vacancy">
                <td class="button-view-all-vacancy" colspan="4">

                    <a href="{% url 'jobs:index' %}">
                        <input type="text" class="btn btn-outline-primary" value="Ver todas as vagas">
                    </a>
                </td>

            </tr>
            <tr>
                <th class="vacancy-list-name" colspan="1">Todas as vagas</th>
                <th colspan="3">Total de vagas: {{ vacancies_count }}</th>
            </tr>

        </thead>

        <tbody>

            <tr>
                <td class="vacancies-divise"></td>
            </tr>
            <tr class="active-vacancies ">
                <td class="" colspan="4">
                    Vagas Ativas
                </td>
            </tr>

            {% for company, vancancies in vacancies_grouped_by_company_active.items %}
            <tr><td></td></tr>
            <tr class="date-vacancy">
                <td class="" colspan="4">
                    Empresa: {{ company }}
                </td>
            </tr>


            {% for vacancy in vancancies %}
           
            <tr class="vacancy-list-tr-description ">


                <td class="vacancy-title">

                    <a href="{% url 'jobs:view_vacancy' vacancy.id%}">

                        {{ vacancy.title|capfirst}}
                        {% if vacancy.is_active == False%}
                        [Encerrada]



                        {% endif %}
                    </a>

                </td>

                <td class="vacancy-list-location">
                    {{ vacancy.country }} / <br> {{ vacancy.state }} / <br> {{ vacancy.city }}
                </td>

                <td class="vacancy-list-type" colspan=""> {{ vacancy.contract_type|capfirst}}</td>

                <td colspan="">
                    <div class="">
                        <button
                            class="btn {% if vacancy.is_active == True %}btn-outline-danger{% else %}btn-outline-success{% endif %} btn-sm active-vacancy"
                            data-id="{{ vacancy.id }}" onclick="activeVacancy(event)">
                            {% if vacancy.is_active == True %}
                            Fechar Vaga
                            {% else %}
                            Abrir Vaga
                            {% endif %}
                        </button>
                    </div>
                </td>

            </tr>
       
            {% endfor %}

            <tr class="div-ads-video">
                <td>

                    <div class="video-ad">

                    </div>

                </td>
            </tr>

            {% empty %}

            <tr class=" .alert-vacancy vacancy-list-tr">

                <td class="message message-no-vacancy alert alert-info" colspan="4">
                    Nenhuma vaga ativa.

                </td>

            </tr>


            {% endfor %}


            <tr>
                <td class="vacancies-divise"></td>
            </tr>
            <tr class="disable-vacancies">
                <td class="" colspan="4" >
                    Vagas Inativas
                </td>
            </tr>

            {% for company, vancancies in vacancies_grouped_by_company_disable.items %}

            <tr class="date-vacancy">
                <td class="" colspan="4">
                    Empresa: {{ company }}
                </td>
            </tr>


            {% for vacancy in vancancies %}
           
            <tr class="vacancy-list-tr-description ">


                <td class="vacancy-title">

                    <a href="{% url 'jobs:view_vacancy' vacancy.id%}">

                        {{ vacancy.title|capfirst}}
                        {% if vacancy.is_active == False%}
                        [Encerrada]



                        {% endif %}
                    </a>




                </td>

                <td class="vacancy-list-location">
                    {{ vacancy.country }} / <br> {{ vacancy.state }} / {{ vacancy.city }}
                </td>

                <td class="vacancy-list-type" colspan=""> {{ vacancy.contract_type|capfirst}}</td>

                <td colspan="">
                    <div class="">
                        <button
                            class="btn {% if vacancy.is_active == True %}btn-outline-danger{% else %}btn-outline-success{% endif %} btn-sm active-vacancy"
                            data-id="{{ vacancy.id }}" onclick="activeVacancy(event)">
                            {% if vacancy.is_active == True %}
                            Fechar Vaga
                            {% else %}
                            Abrir Vaga
                            {% endif %}
                        </button>
                    </div>
                </td>

            </tr>
       
            {% endfor %}

            <tr class="div-ads-video">
                <td>

                    <div class="video-ad">

                    </div>

                </td>
            </tr>

            {% empty %}

            <tr class=" .alert-vacancy vacancy-list-tr">

                <td class="message message-no-vacancy alert alert-info" colspan="3">
                    Nenhuma vaga inativa.

                </td>

            </tr>


            {% endfor %}

        </tbody>
    </table>

</div>

{%endblock%}