{% extends 'jobs/layout.html' %}


{% block title%} Perfis{% endblock %}

{% block body %}

<div class="div-profiles">

    <h2 class="">Perfis</h2>
    <div class="container">

        <div class="div-button-profiles row ">

            <input type="button" class="btn btn-outline-primary col-md-6" id="show-worker-profile" value="Trabalhador">
            <input type="button" class="btn btn-outline-primary col-md-6" id="show-company-profile" value="Empresa">
        </div>

    </div>

    <div class="worker-profile profile container" hidden>
        <div class="profile-header row">


            <h2 class="col-md-6">Perfil: Trabalhador</h2>

            {% if not candidate_profile%}
            <a href="{% url 'jobs:register_profile' %} " class=" col-md-6">

                <input type="button" class="btn btn-outline-success " value="Cadastrar Perfil">

            </a>
            {% endif %}


        </div>


        {% if candidate_profile%}


        <div class=" row ">

            <div class=" profile-item col-md-6">
                <h6>Nome:</h6>
                <input class="for" value="{{ candidate_profile.user.first_name|capfirst}}" readonly>
            </div>

            <div class="profile-item col-md-6">
                <h6>Sobrenome:</h6>
                <input class="" value="{{candidate_profile.user.last_name|capfirst}}" readonly>
            </div>

        </div>

        <div class=" row ">

            <div class="profile-item col-md-4">
                <h6>País: </h6>
                <input class="" value="{{ candidate_profile.country|capfirst}}" readonly>
            </div>

            <div class="profile-item col-md-4">
                <h6>Estado:</h6>
                <input class="" value="{{ candidate_profile.state|capfirst}}" readonly>
            </div>


            <div class="profile-item col-md-4">
                <h6>Cidade:</h6>
                <input class="" value="{{ candidate_profile.city|capfirst}}" readonly>
            </div>
        </div>

        <div class="profile-item col-md-12 ">
            <h6>Resumo Pessoal: </h6>
            <textarea class="" readonly>{{ candidate_profile.personal_sumary|capfirst}}</textarea>
        </div>

        <div class="profile-item col-md-12 ">
            <h6>Resumo Profissional: </h6>
            <textarea class="" readonly>{{ candidate_profile.professional_sumary|capfirst}}</textarea>
        </div>



        <div class="div-button-edit-profile row ">
            <a href="{% url 'jobs:edit_profile_candidate' candidate_profile.id %}">

                <input type="button" class="btn btn-outline-warning " value="Edit">

            </a>
        </div>

        {% else %}

        <h3 class="alert alert-info text-center"> Cadastre seu perfil</h3>

        {% endif %}

    </div>


    <div class="company-profile profile container">

        <div class=" profile-header row">
            <h2 class="col-md-6">Perfil: Empresa</h2>

            <a href="{% url 'jobs:register_company' %}" class="col-md-6">

                <input type="button" class="btn btn-outline-success .edit-company" value="Cadastrar Empresa">

            </a>

        </div>

        {% if count_company_profile > 1 %}

        <div class="buttons-profiles-companies container buttons-company">

            <div class="row">

                <h5 class="profile-item col-md-12 text-center mt-5">Foram encontradas <b>{{ company_profile.count }}</b>
                    empresas ativas </h5>

                {% for company in company_profile %}


                <div class="profile-item col-md-4 ">
                    <input type="button" class="btn btn-outline-success profile-item-button button-company"
                        id="button-company-{{ company.id }}" value="{{ company|capfirst }}">
                </div>

                {% endfor %}
            </div>
        </div>

        <div class="company">

            {% for company in company_profile %}

            <div id="company-{{ company.id }}" class="row" hidden>

                <div class="profile-item col-md-12">
                    <h6>Nome da Empresa: </h6>
                    <input class="" value="{{ company.company_name|capfirst}}" readonly>
                </div>

                <div class="row ">
                    <div class="profile-item col-md-4">
                        <h6>País:</h6>
                        <input class="" value="{{ company.country|capfirst}}" readonly>
                    </div>
                    <div class="profile-item col-md-4">
                        <h6>Estado: </h6>
                        <input class="" value="{{ company.state|capfirst}}" readonly>
                    </div>
                    <div class="profile-item col-md-4">
                        <h6>Cidade: </h6>
                        <input class="" value="{{ company.city|capfirst}}" readonly>
                    </div>


                </div>
                <div class="profile-item col-md-12">
                    <h6>Resumo da Empresa: </h6>
                    <textarea class="" readonly>{{ company.resume_company|capfirst }}</textarea>
                </div>

                <div class="div-buttons-company ">
                    <div class="row">

                        <a href="{% url 'jobs:edit_company' company.id %}" class="col-md-4">
                            <input type="button" class="btn btn-outline-primary btn-sm " value="Edit">
                        </a>

                        <a href="{% url 'jobs:active_company' company.id %}" class="col-md-4">
                            <input type="button" class="btn btn-outline-warning btn-sm " value="Desativar ">
                        </a>

                        <a href="" class="col-md-4">
                            <input type="button" class="btn btn-outline-danger btn-sm delete-company" data-id="{{ company.id }}" data-name="{{ company.company_name }}" value="Deletar">
                        </a>
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>

        <div class="buttons-profiles-companies container buttons-company">

            <div class="row">

                <h5 class="profile-item col-md-12 text-center mt-5">Foram encontradas <b>{{ company_profile_inactive.count }}</b>
                    empresas inativas </h5>

                {% for company in company_profile_inactive %}


                <div class="profile-item col-md-4 ">
                    <input type="button" class="btn btn-outline-success profile-item-button button-company"
                        id="button-company-{{ company.id }}" value="{{ company|capfirst }}">
                </div>

                {% endfor %}
            </div>
        </div>

        <div class="company">


            {% for company in company_profile_inactive %}

            <div id="company-{{ company.id }}" class="row" hidden>

                <div class="profile-item col-md-12">
                    <h6>Nome da Empresa: </h6>
                    <input class="" value="{{ company.company_name|capfirst}}" readonly>
                </div>

                <div class="row ">
                    <div class="profile-item col-md-4">
                        <h6>País:</h6>
                        <input class="" value="{{ company.country|capfirst}}" readonly>
                    </div>
                    <div class="profile-item col-md-4">
                        <h6>Estado: </h6>
                        <input class="" value="{{ company.state|capfirst}}" readonly>
                    </div>
                    <div class="profile-item col-md-4">
                        <h6>Cidade: </h6>
                        <input class="" value="{{ company.city|capfirst}}" readonly>
                    </div>


                </div>

                <div class="profile-item col-md-12 ">
                    <h6>Resumo da Empresa: </h6>
                    <textarea class="" readonly>{{ company.resume_company|capfirst }}</textarea>
                </div>

                <div class="div-buttons-company ">
                    <div class="row">

                        <a href="{% url 'jobs:edit_company' company.id %}" class="col-md-4">
                            <input type="button" class="btn btn-outline-primary btn-sm " value="Edit">
                        </a>

                        <a href="{% url 'jobs:active_company' company.id %}" class="col-md-4">
                            <input type="button" class="btn btn-outline-warning btn-sm " value="Ativar ">
                        </a>

                        <a href="" class="col-md-4">
                            <input type="button" class="btn btn-outline-danger btn-sm delete-company" data-id="{{ company.id }}" data-name="{{ company.company_name }}" value="Deletar">
                        </a>
                    </div>

                </div>
            </div>

            {% endfor %}

        </div>



        {% elif count_company_profile == 1 %}

        <div class="row">

            <div class="profile-item col-md-12 ">
                <h6>Nome da Empresa: </h6>
                <input class="" value="{{ company_profile.company_name|capfirst}}" readonly>
            </div>
        </div>

        <div class=" row">
            <div class="profile-item col-md-4">
                <h6>País:</h6>
                <input class="" value="{{ company_profile.country|capfirst}}" readonly>
            </div>

            <div class="profile-item col-md-4">
                <h6>Estado: </h6>
                <input class="" value="{{ company_profile.state|capfirst}}" readonly>
            </div>

            <div class="profile-item col-md-4">
                <h6>Cidade: </h6>
                <input class="" value="{{ company_profile.city|capfirst}}" readonly>
            </div>

        </div>

        <div class="profile-item col-md-12 ">
            <h6>Resumo da Empresa: </h6>
            <textarea class="" readonly>
                {{ company_profile.resume_company|linebreaksbr }} 

            </textarea>
        </div>

        <div class="div-buttons-company ">
            <div class="row">

                <a href="{% url 'jobs:edit_company' company_profile.id %}" class="col-md-4">
                    <input type="button" class="btn btn-outline-primary btn-sm " value="Edit">
                </a>

                <a href="{% url 'jobs:active_company' company_profile.id %}" class="col-md-4">
                    <input type="button" class="btn btn-outline-warning btn-sm " value="Desativar ">
                </a>

                <a href="" class="col-md-4">
                    <input type="button" class="btn btn-outline-danger btn-sm delete-company" data-id="{{ company_profile.id }}" data-name="{{ company_profile.company_name }}" value="Deletar">
                </a>
            </div>
        </div>    
        {% else %}
        <h3 class="alert alert-info text-center"> Cadastre sua empresa</h3>
        {% endif %}

    </div>

</div>

{% endblock %}