{% extends 'jobs/layout.html' %}

{%block title%} Cadastro de Vaga {% endblock %}

{% block body%}



<div class="register_vacancy container">

    {% if companies_active or companies_deactive %}
    <form action="{% url 'jobs:register_vacancy' %}" method="POST">

        {% csrf_token %}

        <h2>Cadastro de Vaga </h2>

        <div class="container">

            <div class=" form-information row">

                <div class="col-md-12">
                    <label for="company_name">Titulo da Vaga:</label>
                    {{ form.title }}
                </div>

            </div>

            <div class=" form-information row">

                <div class="col-md-8">
                    <label for="company_name">Nome da Empresa:</label>
                    <select name="company" id="company" required>
                      
                        {% if companies_active %}
                        <option value="" selected>-------</option>
                        {% else %}
                        <option value="" selected>Cadastre ou Ative uma empresa</option>

                        {% endif %}

                        {% for company in companies_active %}
                        
                        <option value="{{ company.id }}" data-country="{{company.country}}" data-state="{{company.state}}" data-city="{{company.city}}"   >{{ company }}</option>                   
                        
                       
                        {% endfor %}
                    {% for company in companies_deactive %}
                        
                    <option value="{{ company.id }}" data-country="{{company.country}}" data-state="{{company.state}}" data-city="{{company.city}}"  disabled >{{ company }} - Inativa</option>                   
                        
                       
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="{{ form.contract_type.id_for_label }}">Tipo de contrato:</label>

                    {{ form.contract_type }}

                </div>
                <div class="col-md-6">
                    <a href="{% url 'jobs:register_company' %}"><input type="button" class="btn btn-outline-success" value="Cadastar Empresa" ></a>
                </div>              

            </div>
            
            <div class="div-show-company  row">

                
                    <span class="col-md-6">Mostrar nome e resumo da empresa na vaga?</span> 
                
                
                    <span class="">{{ form.show_company}}</span>

            </div>
            <div class=" form-location row">

                <div class="col-md-4">
                    <label for="country">País da vaga:</label>
                    <select name="country" class="select-country" id="country" required>
                        <option value="">Selecione um país</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="{{ form.state.id_for_label }}">Estado da vaga:</label>
                    <select name="state" class="select-state" id="state" required>
                        <option value="" disabled selected>Aguardando País</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="{{ form.country.id_for_label }}">Cidade da vaga:</label>
                    <select name="city" class="select-city" id="city" required>
                        <option value="" disabled selected>Aguardando País</option>
                    </select>
                </div>
            </div>

            <div class="form-information form-information-contacts row">

                <div class="col-md-4 form-contact-phone">
                    <label for="{{ form.contract_type.id_for_label }}">Telefone 1:</label>
                    {{ form.phone1 }}
                    <div class=" add-phone d-flex flex-row">


                        <input type="checkbox" name="add-phone1" id="add-phone1" value="">


                        <label for="add-phone1">Adicionar</label>


                    </div>

                </div>

                <div class="col-md-4 form-contact-phone" id="">
                    <label for="{{ form.contract_type.id_for_label }}">Telefone 2:</label>

                    {{ form.phone2 }}

                    <div class=" add-phone d-flex flex-row">


                        <input type="checkbox" name="add-phone2" id="add-phone2" value="">



                        <label for="add-phone2">Adicionar</label>


                    </div>

                </div>
                <div class="col-md-12 form-contact-email">
                    <label for="{{ form.contract_type.id_for_label }}">Email:</label>

                    {{ form.email }}

                </div>

            </div>

            <div class="descript-vacation form-information row">

                <div class="col-md-12">
                    <label for="{{ form.personal_sumary.id_for_label }}">Descrição da Vaga:</label>

                    {{ form.descript }}

                </div>

            </div>




        </div>

        <div class="row form-information form-information-button">

            <div class="col-md-4">
                <a href="javascript:history.back()">
                    <input type="text" class="btn btn-outline-primary btn-back" value="Voltar">
                </a>
            </div>
            <div class="col-md-4">
                <input type="submit" class="btn btn-outline-success " value="Salvar">
            </div>
        </div>
    </form>

    {% else %}

    <div class="buttons-register-company container">

        <div class="row">
            <h2>Cadastre uma empresa para continuar </h2>
        </div>



        <div class="row ">
            <div class="col-md-4 ">
                <a href="javascript:history.back()" class="btn btn-outline-primary ">
                    Voltar
                </a>
            </div>
            <div class="col-md-4 ">
                <a href="{% url 'jobs:register_company' %}" class="btn btn-outline-success ">
                    Cadastrar Empresa
                </a>
            </div>
        </div>

    </div>
    {% endif %}
</div>


{% endblock %}