{% extends 'jobs/layout.html' %}

{%block title%} Visualizar Vaga {% endblock %}

{% block body%}



<div class="view_vacancy container">
    
    
    <div class="candidate-name row ">

        <div class=" name-vacancy col-md-6">
            <h3><strong>{{ vacancy.title|capfirst}} </strong></h3>
            <p><small class="text-muted">Localização{{ vacancy.country}}/{{ vacancy.state }}/{{ vacancy.city }}</small></p>
            <p>
                <small class="text-muted">
                    Data de Cadastro:
                    {{ vacancy.created_at.day }}/{{ vacancy.created_at.month }}/{{ vacancy.created_at.year }}
                </small>
            </p>

        </div>


    </div>

    <div class="vacancy-descript  row">
        <p>{{ vacancy.descript|linebreaks|capfirst }}</p>
    </div>  
    <hr>

    <div class="vacancy-type-contract row ">
        <p><strong>Tipo de Contrato:</strong> {{ vacancy.contract_type|capfirst}} </p>
    </div>

    <div class="vacancy-contact row ">
        <div class="col-md-12">

            <p><strong>Contato:</strong> {{ vacancy.email}} </p>

        </div>
        {%if vacancy.phone1 %}
        <div class="col-md-12">

            <p><strong>Telefone 1:</strong> {{ vacancy.phone1 }} </p>

        </div>
        {% endif %}
        {%if vacancy.phone2 %}
        <div class="col-md-12">

            <p><strong>Telefone 2:</strong> {{ vacancy.phone2 }} </p>

        </div>
        {% endif %}
    </div>

    <div class="location  row">

        <p><strong>Vaga para:</strong> {{ vacancy.country }} - {{ vacancy.state }} - {{ vacancy.city }}</p>

    </div>


</div>

<div class="div-buttons-vacancy row">

   
        <div class="col-md-4">
            <a href="javascript:history.back()">
                <input type="button" class="btn btn-outline-primary " value="Voltar">
            </a>
        </div>
        {% if vacancy.company.user == request.user %}

        <div class="col-md-4">
            <a href="{% url 'jobs:edit_vacancy' vacancy.id %}">
                <input type="button" class="btn btn-outline-warning" value="Editar">
            </a>
        </div>

        

        {% endif %}
        <div class="div-button-save-vacancy col-md-4">
            <button id="" 
                    class="btn {% if saved_vacancy %}btn-success{% else %}btn-outline-success{% endif %} save-toggle" 
                    data-id="{{ vacancy.id }}">
                {% if saved_vacancy %}
                    Desmarcar Vaga
                {% else %}
                    Salvar Vaga
                {% endif %}
            </button>
        </div>

    

   

</div>

{% endblock %}